Debugger support for unsecured JWTs

Support for "none" in the JOSE header according to [RFC 7519 section 6](https://datatracker.ietf.org/doc/html/rfc7519#section-6)

Justin, I am one of the newly appointed maintainers for jwt.io and I am working on a new version. I think this is a solid feature request and I am adding it to the roadmap for the next version 💪 cc @byron-okta 